@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* cbe branding
  --cbe: #C040BE;
  --cbe-dark: #A02FA0;
  --cbe-light: #D060D0;
  --cbe-rgb: 192, 64, 190;
  */

  /* tele branding */
  --cbe: #8dc63f;
  --cbe-dark: #557d24;
  --cbe-light: #b3de65;
  --cbe-rgb: 141, 198, 63;

  --cbe-muted: rgba(var(--cbe-rgb), 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  -webkit-text-fill-color: inherit;
}

input::-webkit-spelling-error,
input::-moz-spelling-error {
  text-decoration: none;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
